#banner {
    background:rgb(29, 28, 28);
    color: rgb(64, 60, 68);
    font-size: 20px;
    padding: 50px;
    padding-left: 8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
}

#main-grid {
    padding: 3em;
    font-size: 20px;
    color: white;

    h1{
        font-weight: 200;
    }
    
}