@import "./portfolio-transitions";


#port {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tile {
    margin: 14px;
    border-radius: $border-radius;
    overflow: hidden;
    background: rgb($bg, .2);
    box-shadow: $shadow;

    .tile-img {
        opacity: 70%;
        object-fit: cover;
        width: 100%;
        height: 160px;
    }

    .tile-body {
        padding: 0px 20px 10px;
        margin-top: 0px;
        color: rgb($bg, 0.8);

        .tile-title {
            font-size: 25px;
        }
        
        .tile-desc {
            color: rgb($bg, .5);
            font-size: 16px;
            margin: 0px;
            margin-bottom: 12px;
            line-height: 18px;
        }

        .tile-stack {
            display: block;
            margin-bottom: 10px;

            .stack-item {
                font-size: 12px;
                display: inline;
                margin-right: 5px;
                margin-bottom: 4px;
                padding: 3px;
                background: rgb(white, .2);
                border-bottom: 2px solid rgba(74, 48, 104, 0.1);
                border-radius: $border-radius;
            }

        }
    }

}