

.tile {


    .tile-img {
        transition: width 1s;
    }

    transition: margin .6s;

    &:hover {
        background: rgb($highlight, 1);
        box-shadow: none;
        margin: 14px; // normal is 20px
        //transition: margin .6s;

        .tile-img {
            opacity: 80%;
            width: 105%;
            transition: width 1s;
        }

        /*  Border on Higlight
        box-shadow: 0px 0px 0px 1px rgb($bg, 0.8);
        .tile-img {
            border-bottom: 1px solid rgb($bg, 0.8);
        }
        */

    }

}