
#port {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tile {
    margin: 20px;
    border-radius: 15px;
    background: rgb(219, 219, 219, 0.2); // partially transparent; that's the last value
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255, 0.2);

    .tile-img {
        opacity: 70%;
        object-fit: cover;
        width: 100%;
        height: 160px;
        transition: width 1s;
    }

    .tile-body {
        padding: 0px 20px 10px;
        margin-top: 0px;
        color: rgb(255, 255, 255, 0.8);

        .tile-title {
            font-size: 25px;
    
        }
        
        .tile-desc {
            color: rgb(255, 255, 255, .5);
            margin: 0px;
        }

    }

    &:hover {
        background: rgb(206, 112, 112);
        box-shadow: 0px 0px 0px 1px rgb(255, 255, 255, 0.8);

        .tile-img {
            opacity: 80%;
            width: 105%;
            transition: width 1s;
        }
    }

}
