#about {

    display: none;
    color: rgb($dark-brown, .7);
    margin-top: 40px;

    display: grid;
    grid-template-columns: 2fr 1fr;

    #content {

        h1 {
            font-size: 50px;
            border-bottom: 1px solid rgb($dark-brown, .7);
        }
    
        p {
            font-size: 30px;
        }
    }

    #desktop-image {
        //border-radius: 50%;
        overflow: hidden;
        //padding: 100px;
        width: 400px;
    }

    #mobile-image {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #about {
        display: none;

        #desktop-image {
            display: none;
        }

        #content {
            margin-top: 50px;
        }

        #mobile-image {
            border-radius: 50%;
            display: block;
        }
    }
}