#about {

    display: none;
    color: rgb($dark-brown, .7);
    margin-top: 40px;

    h1 {
        font-size: 50px;
        border-bottom: 1px solid rgb($dark-brown, .7);
    }

    p {
        font-size: 30px;
    }
}