@import "./reset";
@import "vars";
@import "./components";

html {
    background: $yellow;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10% 200px;
}

/* @media screen and (max-width: 480px) {
    html {
        padding: 5px 10px;
    }
} */