@import "vars";
@import "./reset";
@import "./components/!component_master";

html {
    //background: rgb(64, 60, 68);
    background: $bg;
    font-family: 'Poppins', sans-serif;
    padding: 50px 10%;
}