html, h1, body {
    margin: 0px;
    padding: 0px;
}

#root {
    margin: none;
    padding: none;
}

a {
    text-decoration: none;
    margin: none;
    padding: none;
}

img, video, source {
    margin: 0px;
    padding: 0px;
    border: none;
}