#tech-description-display {
    display: inline;
    padding: 20px 20% 0px 0px;
    font-size: 40px;
    font-weight: 600;
    transition: color .4s;
    padding-bottom: -10px;
    letter-spacing: -1000;
    color: rgb($dark-brown, .7);

    #tech-description-name {
        display: inline;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgb($dark-brown, .7);
    }

    #name-block {
        display: block;
        padding-bottom: 10px;
        opacity: .9
    }

    p#tech-description-description {
        font-size: 30px;
        //line-height: 30px;
    }
    
}