#banner {

    // Experiment for keeping banner at the top of the page the whole time
    // The idea would be that the tech items light up when you hover over the appropriate project
    // position: fixed;
    // background: $yellow;
    // z-index: 100;


    margin-top: 40px;
    margin-bottom: 10px;
    //border-bottom: 18px solid rgb($orange, .3);
    margin-left: 6px;
    margin-right: 6px;
    //color: rgb(29, 28, 28);

    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;

    h1 {
        //color: rgb($bg, 0.1);
        display: inline;
        //margin: 6px;
        line-height: 80px;
        font-size: 70px;
        font-weight: 600;
        transition: color .4s;
        padding-bottom: -10px;
        letter-spacing: -1000;
        //color: rgb($brown, .4);
        color: rgb($orange, .6);
        text-shadow: 2px 2px rgb(red, .1);

        &:hover {
            color: $purple;
            text-shadow: 3px 3px $orange;

            transition: color .4s;
            transition: text-shadow .9s;
        }
    }

    div.tech-list {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-bottom: 6px;
        line-break: strict;


        overflow: visible;

        span.tech-bubble {
            opacity: .5;
            font-style: normal;
            background: rgb(white, .5);
            color: rgb($orange, .8);
            padding: 8px 8px;
            font-size: 16px;
            font-weight: 500;
            display: inline;
            margin-right: 3px;
            border-radius: $rounded;

            &:hover {
                opacity: 1;
                background: rgb($purple, 1);
                color: rgb(white, 1);
            }
        }

    }
}

@media screen and (max-width: 480px) {
    #banner {
        div.tech-list {
            display: none;

            span.tech-bubble {
                display: inline;
                line-height: 40px;
            }
        }
    }

}