#banner {
    margin-top: 40px;
    margin-bottom: 25px;
    //color: rgb(29, 28, 28);

    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;

    h1 {
        //color: rgb($bg, 0.1);
        display: inline;
        margin: 6px;
        line-height: 80px;
        font-size: 56px;
        font-weight: 600;
        transition: color .4s;
        color: rgb($orange, .4);

/*         .first-name {
            color: white;
            z-index: 200;
            opacity: 60%;
        }

        .last-name {
            color: rgb(165, 73, 73);
            z-index: -999;
            opacity: 60%;
        } */

        &:hover {
            transition: color .4s;
            color: $orange;
        }
    }
}